@media screen and (max-width: 500px) {
  .radio{
    width: 100%;
    &:before{
      top: -27px;
      width: 367px;
      height: 35px;
    }
  }
  td,th{
    padding: 6px;
  }
  .radio-wrapper {
    padding-top: 28px;
  }
  .container{
    padding: 8px;
    flex-direction: column;
  }
  .navigate-wrapper{
    flex-direction: column;
  }
  .forecast-item{
    min-width: 52px;
    width: 20%;
  }
  .forecast-list{
    padding: 8px;
    background: none;
    width: 90%;
  }
  .button-block{
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
  .search {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .search-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .search-weather{
    width: 70%;
  }
  .play{
    position: absolute;
    top:-44px;
  }
  .top-panel{
    min-width: 100%;
  }
  .wheel-img{
    padding: 16px 0;
    img{
      width: 25%;
    }
  }
  footer{
    margin: 10px 0 4px;
  }
  .mobile-hidden {
    display: none !important; }
  .mobile-visible{
    display: block!important;
  }
}
@media screen and (max-width: 370px) {
  .radio button{
    font-size: 12px;
  }
  .play{
    top: -39px;
  }
}

