html {
  height: 100%;
}
body{
  background: url("../images/bg.png") top center no-repeat fixed;
  background-size: cover;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.radio-wrapper{
  padding-top: 60px;

}
.radio{
  width: 768px;
  margin: auto;
  background: linear-gradient(0.25turn, #dfc296, #694f67 , #51525f, #cbd2d2);
  position: relative;
  font-family: 'Orbitron', sans-serif;
}
.radio:before{
  content:'';
  background: url(../images/antenna.png) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: -51px;
  right: 8px;
  width: 730px;
  height: 64px;
}
.forecast{
  background: linear-gradient(0.25turn, #cbd2d2, #51525f, #694f67, #dfc296);
  height: 33%;
  padding: 16px 16px 0;
}
.navigate-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #3f2f3a;
  position: relative;
}
.forecast-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 8px 16px 8px 114px;
  background: #8a6b3b url("../images/navigation-bg.jpg") 0% 50% no-repeat;
  background-size: contain;
  border: 8px inset #c5a777;
  width: 100%;
  min-height: 119px;
}
.forecast-item{
  width: 100px;
  min-width: 100px;
  text-align: center;
  background-color: #726875;
  padding: 16px 0;
  &:hover{
    background-color: #927e7c;
  }
  img{
    width: 46px;
  }
}
table{
  table-layout: fixed;
  margin: 0 auto;
}
td, th{
  text-align: center;
  padding: 14px;
  width: 25%;
}
td:not(:last-child),
th:not(:last-child){
  border-right: 1px solid rgba(255, 255, 255, 0.75);
}
th{
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
table svg{
  width: 24px;
  height: 24px;
  fill: rgba(255, 255, 255, 0.75);
}
.forecast-item:nth-child(odd){
  background-color: #9c959c;
  &:hover{
    background-color: #927e7c;
  }
}
.forecast-day-1{

}
.day{
  display: block;
}
button{
  background-color: #d2b38c;
  border: 8px outset #bb8048;
  margin: 4px;
  color:#111025;
  &:active, &:focus{
    border: 8px inset #bb8048;
  }
}
.search-form{
  display: inline;
}

.button-block{
  display: flex;
  flex-direction: column;
}
.main-content{
  padding: 0 16px 16px;
}
.container{
  background: url("../images/main-bg.jpg") 50% 50% repeat-x;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
}
.top-panel{
  flex: 0 0 60%;
  border: 8px solid #111025;
  position: relative;
  border-radius: 24px;
  background:   linear-gradient(0.25turn, #3f5769, #6b8ea3);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.75);
  max-width: 450px;
}
.top-panel-content{
  border: 8px solid #335d6e;
  border-radius: 12px;
  height: 168px;
  padding: 16px;
  overflow-y: auto;
}
.liked-item:first-child{
    cursor: auto;
    .remove{
      display: none;
    }
  }
.liked-item{
  cursor:pointer;
  .remove{
    font-size: 1.2em;
    &:before{
      content: "\00d7";
    }

    &:hover {
      color: #111025;
    }
  }
}
caption{
  margin-bottom: 16px;
}
.weather-fm{
  text-align: center;
}
.wheel-img{
  flex: 0 0 40%;
  text-align: center;
  margin: 16px;
  background: url(../images/wheel.png) 49% 50% no-repeat;
  background-size: contain;
  padding: 32px 0;
  img{
    width:50%;
    &:hover{
      animation: infinite-spinning 1s infinite alternate;
    }
  }
}
.play{
  color: #4c2628;
  display: inline-block;
  width: 52px;
  &.active{
    .off{
      display: block;
    }
    .on{
      display: none;
    }
  }
}
.on{
  display: block;
}
.off{
  display: none;
}
.search{
  padding: 8px;
}
.search-weather{
  background: linear-gradient(0.25turn, #3f5769, #6b8ea3);
  width: 60%;
  padding: 8px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 8px;
  &::placeholder{
    color: rgba(255, 255, 255, 0.35);
  }
}
.legs{
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 48px;
    height: 8px;
    position: absolute;
    left: 16%;
    bottom: -8px;
    background-color: #6b6b6b;
  }
  &:after{
    content: '';
    display: block;
    width: 48px;
    height: 8px;
    position: absolute;
    right: 16%;
    bottom: -8px;
    background-color: #6b6b6b;
  }
}
#switcher{
  .k{
    display:none;
  }
  .c{
    display:block;
  }
}
#switcher.active{
  .k{
    display:block;
  }
  .c{
    display:none;
  }
}
#radio{
  display: none;
}
footer{
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: #4c2628;
  margin: 4px 0;
  font-size: 10px;
  a{
    color: #4c2628;
    &:hover,
    &:visited,
    &:active{
      color: #4c2628
    }
  }
  span{
    margin: 0 16px;
  }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}


